<header>
  <div class="hero" style="background-image: url(src/images/got-hero-img.jpg)">
    <navbar></navbar>
    <featured-content resource="vm.featured"></featured-content>
  </div>
</header>

<section class="featured-resources">
  <div class="container resources">
    <resource-card ng-repeat="resource in vm.resources" resource="resource"></resource-card>
  </div>
</section>
<div class="container layout-row layout-align-space-between-center">
  <button class="icon-button dark">
    <i class="material-icons">chevron_left</i>
  </button>
  <button class="icon-button dark">
    <i class="material-icons">chevron_right</i>
  </button>
</div>
