<div class="featured-content container">
  <h2>{{ $ctrl.resource.saying }}</h2>
  <h1>{{ $ctrl.resource.title }}</h1>
  <h3>{{ $ctrl.resource.caption }}</h3>

  <div class="layout-row">
    <button class="button light watch-trailer-button ghost" ng-click="$ctrl.playTrailer()">
      <i class="play-button material-icons">play_arrow</i>
      Play trailer
    </button>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <button class="button light watch-trailer-button ghost" ng-click="$ctrl.seeDetails()">
      <i class="play-button material-icons">info_outline</i>
      See more details
    </button>
  </div>
</div>

<dialog-player ng-show="$ctrl.dialog.isOpen" video="$ctrl.resource" settings="$ctrl.dialog"></dialog-player>
