* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body, html {
  min-height: 100%;
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  font-family: 'Helvetica', 'Arial', sans-serif;
  font-size: 10px;
}

img {
  max-width: 100%;
}

/* Grid */

.container {
  width: 100%;
  max-width: 1160px;
  margin: 0 auto;
  position: relative;
  z-index: 1;
}

/* Assets - buttons */

button {
  background: none;
  border: none;
}

.button {
  color: rgba(255, 255, 255, 0.87);
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 14px;
  text-transform: uppercase;
  transition: .2s ease-in-out;
}

.button:focus, .button:active {
  outline: none;
}
.button:hover {
  cursor: pointer;
}

.button.light {
  background-color: rgba(255, 255, 255, 0.95);
  color: rgba(0, 0, 0, 0.87);
}

.button.light.ghost {
  background-color: transparent;
  border-color: rgba(255, 255, 255, 0.95);
  color: rgba(255, 255, 255, 0.95);
}
.button.light.ghost:hover {
  background-color: rgba(255, 255, 255, 0.15);
}

.button.icon-button {
  width: 40px;
  height: 40px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.button.icon-button.light {
  background-color: rgba(255, 255, 255, 0.87);
  color: rgba(0, 0, 0, 0.75);
  font-size: 24px;
}

.button.watch-trailer-button {
  text-align: center;
  padding: 12px;
  border-radius: 5px;
  border: 2px rgba(255, 255, 255, 0.7) solid;
}
.button.watch-trailer-button .material-icons {
  margin-right: 8px;
}


header .hero {
  width: 100%;
  min-height: 100vh;
  height: 100vh;
  position: relative;
  background-size: cover;
  background-position: 50%;
}

header .hero:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(28, 22, 78, 0.4), rgba(28, 22, 78, 0.3));
}

 /*Navigation*/

.main-nav {
  padding: 16px 0 8px;
  width: 100%;
  max-width: 1160px;
  margin: 0 auto;
  position: relative;
}

.main-nav .logo {
  color: #fff;
  position: relative;
  z-index: 1;
  font-size: 1.6em;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
}

.main-nav .logo span {
  display: inline-block;
  width: 18px;
  height: 18px;
  border: 2px #fff solid;
  border-radius: 50%;
  position: relative;
  margin: 0 8px -3px 0;
}

.logo span:before,
.logo span:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  border: 2px #fff solid;
  border-radius: 50%;
}

.logo span:before {
  width: 24px;
  height: 24px;
  top: -7px;
  left: -7px;
}

.logo span:after {
  width: 8px;
  height: 8px;
  border: none;
  background-color: #fff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.main-nav:after {
  content: '';
  width: calc(100% - 160px);
  top: calc(50% + 2px);
  right: 0;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.3);
  position: absolute;
}

 /* Featured show */

.featured-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: calc(100% - 43px);
  color: #fff;
  padding: 0 60px 110px;
}

.featured-content h1 {
  font-size: 72px;
  line-height: 1.6;
  font-weight: 600;
  margin: 8px 0 16px;
}

.featured-content h2 {
  font-size: 24px;
  font-weight: 200;
  padding-left: 100px;
  position: relative;
  text-transform: uppercase;
}

.featured-content h2:before {
  content: '';
  position: absolute;
  width: 90px;
  height: 1px;
  background-color: #fff;
  left: 0;
  top: 50%;
}

.featured-content h3 {
  font-size: 16px;
  font-weight: lighter;
  max-width: 450px;
  line-height: 26px;
  letter-spacing: 1px;
  font-weight: 200;
}

.featured-content .button {
  margin-top: 50px;
}
